{% extends 'base.html.twig' %}

{% block title %}Hello WelcomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to Our Marmiton project !! </h1>

    This friendly message is coming from Manu and Bastien :<br><br>

    {% if app.user.roles[0] is defined %}


    Click here to <A href="{{ url('logout') }}"><input type="button" action="logout" value="logout"></A>
    If you want to create a <A href="{{ url('recipe') }}"><input type="button" action="recipe" value="recipe"></A>



    {% else %}
    If you want to <A href="{{ url('login') }}"><input type="button" action="login" value="Login"></A>
    Or you want to <A href="{{ url('app_register') }}"><input type="button" action="register" value="register"></A>
    {% endif %}
</div>
{% endblock %}